[Desktop Entry]
Type=Application
Name=OpenDisplay
Comment=Use an iOS device as a Wayland display
Exec=opendisplay-gui --activate-existing
Icon=org.opendisplay.desktop
Terminal=false
Categories=Utility;System;
StartupNotify=true
SingleMainWindow=true
